footer {
    background-color: #1a1818;
    color: var(--background-color);
    font-family: var(--type-somero-font-family);
    font-size: 1.4rem;
    line-height: 3.4rem;
    letter-spacing: normal;
}

footer .footer {
    position: relative;
    overflow: hidden;
}

footer .footer > div {
    margin: auto;
    max-width: 1464px;
    padding: 8rem var(--spacing-medium) 0;
}

footer .footer > div > div {
    display: grid;
    gap: var(--spacing-xbig);
    grid-template-columns: 1fr;
}

footer .footer > div > div .columns > div {
    align-items: flex-start;
}

footer .footer > div > div:not(.columns-container) {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: #282828;
    margin-top: 80px;
    padding: 1.2rem 0;
}

footer .footer .columns > div > div:not(:first-child) a {
    font-weight: 400;
}

footer .footer p {
    margin: 0;
    font-size: 1.4rem;
}

footer .footer h3,
footer .footer h4,
footer .footer h5,
footer .footer h6 {
    margin: 0 0 2rem;
    font-family: var(--type-somero-font-family);
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--background-color);
    letter-spacing: 0;
}

footer .footer > div > div > div:first-child h6 {
    text-transform: unset;
}

footer .footer ul a[href*="callto"]::before,
footer .footer ul a[href*="mailto"]::before {
    content: "";
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

footer .footer ul a[href*="callto"]::before {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 7C15.5304 7 16.0391 7.21071 16.4142 7.58579C16.7893 7.96086 17 8.46957 17 9M15 3C16.5913 3 18.1174 3.63214 19.2426 4.75736C20.3679 5.88258 21 7.4087 21 9M5 4H9L11 9L8.5 10.5C9.57096 12.6715 11.3285 14.429 13.5 15.5L15 13L20 15V19C20 19.5304 19.7893 20.0391 19.4142 20.4142C19.0391 20.7893 18.5304 21 18 21C14.0993 20.763 10.4202 19.1065 7.65683 16.3432C4.8935 13.5798 3.23705 9.90074 3 6C3 5.46957 3.21071 4.96086 3.58579 4.58579C3.96086 4.21071 4.46957 4 5 4Z" stroke="%23C83293" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M15 7C15.5304 7 16.0391 7.21071 16.4142 7.58579C16.7893 7.96086 17 8.46957 17 9M15 3C16.5913 3 18.1174 3.63214 19.2426 4.75736C20.3679 5.88258 21 7.4087 21 9M5 4H9L11 9L8.5 10.5C9.57096 12.6715 11.3285 14.429 13.5 15.5L15 13L20 15V19C20 19.5304 19.7893 20.0391 19.4142 20.4142C19.0391 20.7893 18.5304 21 18 21C14.0993 20.763 10.4202 19.1065 7.65683 16.3432C4.8935 13.5798 3.23705 9.90074 3 6C3 5.46957 3.21071 4.96086 3.58579 4.58579C3.96086 4.21071 4.46957 4 5 4Z" stroke="%23C83293" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

footer .footer ul a[href*="mailto"]::before {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_915_1888)"><path d="M2.3991 3.58603C2.48541 3.58581 2.57172 3.58552 2.65804 3.58514C2.89424 3.58436 3.13044 3.58475 3.36665 3.58533C3.62176 3.58575 3.87688 3.5851 4.13199 3.58458C4.63138 3.58375 5.13077 3.58393 5.63016 3.58447C6.03607 3.5849 6.44199 3.58495 6.84791 3.58475C6.90571 3.58472 6.96351 3.58469 7.02307 3.58466C7.1405 3.5846 7.25793 3.58454 7.37537 3.58448C8.44479 3.58396 9.5142 3.5845 10.5836 3.58548C11.5592 3.58637 12.5348 3.58629 13.5104 3.58539C14.6073 3.58439 15.7042 3.584 16.8011 3.58457C16.9181 3.58463 17.0351 3.58469 17.1521 3.58475C17.2385 3.58479 17.2385 3.58479 17.3265 3.58484C17.7319 3.585 18.1373 3.58473 18.5426 3.58428C19.0367 3.58376 19.5308 3.5839 20.0249 3.5849C20.2769 3.58539 20.529 3.58559 20.781 3.58497C21.0118 3.58441 21.2427 3.58472 21.4735 3.58571C21.5569 3.58592 21.6402 3.58581 21.7236 3.58536C22.3525 3.58219 22.8564 3.65038 23.3438 4.07859C23.3722 4.10209 23.4006 4.1256 23.4298 4.14982C23.7358 4.42437 23.9832 4.84993 24.006 5.26717C24.0062 5.32902 24.0062 5.32902 24.0063 5.39211C24.0065 5.43984 24.0067 5.48758 24.0069 5.53676C24.0069 5.6153 24.0069 5.6153 24.0069 5.69542C24.0071 5.75111 24.0073 5.8068 24.0074 5.86418C24.0079 6.01882 24.0081 6.17346 24.0082 6.3281C24.0084 6.49487 24.0088 6.66164 24.0092 6.82841C24.0102 7.23122 24.0106 7.63402 24.0111 8.03683C24.0113 8.22661 24.0115 8.41639 24.0118 8.60617C24.0126 9.23721 24.0132 9.86824 24.0136 10.4993C24.0137 10.663 24.0138 10.8267 24.0138 10.9905C24.0139 11.0312 24.0139 11.0719 24.0139 11.1138C24.0143 11.7727 24.0155 12.4316 24.017 13.0905C24.0186 13.7673 24.0194 14.4441 24.0196 15.1209C24.0197 15.5008 24.0201 15.8807 24.0213 16.2606C24.0223 16.5841 24.0227 16.9077 24.0222 17.2313C24.022 17.3963 24.0221 17.5612 24.023 17.7262C24.0238 17.9054 24.0235 18.0846 24.0229 18.2638C24.0236 18.3413 24.0236 18.3413 24.0244 18.4203C24.0195 19.0185 23.8097 19.4525 23.393 19.8742C23.0051 20.2331 22.5737 20.4063 22.0416 20.4031C22.0061 20.4033 21.9707 20.4035 21.9342 20.4036C21.8156 20.4041 21.697 20.4039 21.5784 20.4036C21.4924 20.4038 21.4065 20.404 21.3205 20.4043C21.0844 20.4048 20.8483 20.4048 20.6122 20.4047C20.3575 20.4047 20.1029 20.4052 19.8482 20.4057C19.3493 20.4064 18.8504 20.4067 18.3515 20.4067C17.9459 20.4068 17.5404 20.407 17.1348 20.4073C15.9851 20.4081 14.8353 20.4085 13.6856 20.4085C13.6546 20.4085 13.6236 20.4085 13.5917 20.4085C13.529 20.4085 13.4664 20.4085 13.4037 20.4085C12.4291 20.4084 11.4545 20.4091 10.4798 20.4104C9.38453 20.4118 8.28922 20.4126 7.19391 20.4125C6.61409 20.4125 6.03427 20.4128 5.45444 20.4138C4.96077 20.4146 4.4671 20.4148 3.97343 20.4142C3.7216 20.4139 3.46977 20.4139 3.21793 20.4147C2.98725 20.4154 2.75658 20.4153 2.52589 20.4145C2.44258 20.4143 2.35928 20.4145 2.27597 20.415C1.64713 20.4187 1.14354 20.3505 0.656257 19.9223C0.627858 19.8988 0.599458 19.8753 0.570198 19.8511C0.264246 19.5766 0.0167761 19.151 -0.0060302 18.7338C-0.00611404 18.6925 -0.00619792 18.6513 -0.0062843 18.6088C-0.00649326 18.5611 -0.00670218 18.5134 -0.00691748 18.4642C-0.00690883 18.4118 -0.00690027 18.3595 -0.00689137 18.3055C-0.00706371 18.2498 -0.00723612 18.1941 -0.00741369 18.1367C-0.00784113 17.9821 -0.00805744 17.8275 -0.00818187 17.6728C-0.008365 17.5061 -0.00881398 17.3393 -0.0092231 17.1725C-0.0101491 16.7697 -0.0106213 16.3669 -0.0110384 15.9641C-0.011244 15.7743 -0.0114955 15.5845 -0.011741 15.3948C-0.0125384 14.7637 -0.0132178 14.1327 -0.0135574 13.5016C-0.0136469 13.3379 -0.013737 13.1742 -0.0138286 13.0105C-0.0138626 12.9494 -0.0138626 12.9494 -0.0138973 12.8872C-0.0142862 12.2282 -0.0154737 11.5693 -0.0169965 10.9104C-0.0185478 10.2336 -0.019391 9.55679 -0.0195407 8.87999C-0.0196421 8.50011 -0.0200506 8.12024 -0.0212498 7.74037C-0.0222689 7.41679 -0.022644 7.09321 -0.0221889 6.76963C-0.0219763 6.60466 -0.0220621 6.4397 -0.0229746 6.27473C-0.0238047 6.09551 -0.0234722 5.91632 -0.0228559 5.73709C-0.0233701 5.68546 -0.0238843 5.63383 -0.0244141 5.58064C-0.0199577 5.04231 0.155414 4.57533 0.515632 4.17234C1.08808 3.65687 1.65909 3.58198 2.3991 3.58603ZM2.15626 4.96921C2.3224 5.13535 2.48969 5.29736 2.66309 5.45554C2.68783 5.47816 2.71257 5.50079 2.73805 5.52409C2.90195 5.67358 3.0676 5.82082 3.2353 5.96604C3.34273 6.06012 3.44813 6.15628 3.55372 6.25242C3.71201 6.39555 3.87339 6.53223 4.04005 6.6655C4.29007 6.86743 4.52228 7.08509 4.75557 7.30577C4.92331 7.46363 5.09323 7.61453 5.27344 7.75828C5.51943 7.95448 5.746 8.16791 5.97437 8.38395C6.1421 8.54179 6.312 8.69267 6.4922 8.8364C6.73818 9.0326 6.96475 9.24603 7.19312 9.46207C7.36085 9.61991 7.53075 9.7708 7.71095 9.91453C7.95693 10.1107 8.1835 10.3242 8.41187 10.5402C8.5796 10.698 8.7495 10.8489 8.9297 10.9927C9.17568 11.1889 9.40225 11.4023 9.63062 11.6183C9.79835 11.7762 9.96825 11.927 10.1484 12.0708C10.3616 12.2408 10.5599 12.4226 10.7578 12.6098C11.3348 13.2256 11.3348 13.2256 12.0674 13.521C12.434 13.5053 12.6564 13.234 12.9137 12.9986C13.0143 12.9066 13.1159 12.8164 13.2188 12.727C13.3607 12.6034 13.5009 12.4781 13.6406 12.352C13.8902 12.1271 14.1417 11.9048 14.3978 11.6874C14.7035 11.4274 15.0031 11.163 15.2962 10.8889C15.4488 10.7471 15.6048 10.613 15.7676 10.4829C16.0499 10.2564 16.3104 10.0086 16.5736 9.76072C16.7704 9.57547 16.9726 9.3978 17.1786 9.22291C17.2601 9.15372 17.3415 9.08445 17.4229 9.01511C17.4651 8.97909 17.4651 8.97909 17.5083 8.94234C17.7293 8.75285 17.943 8.55647 18.1556 8.35761C18.3081 8.21585 18.4642 8.08171 18.627 7.95164C18.8746 7.75313 19.1034 7.53802 19.3337 7.32013C19.5015 7.16228 19.6714 7.01139 19.8516 6.86765C20.1323 6.64359 20.3905 6.39739 20.6517 6.15134C20.8511 5.96364 21.056 5.78355 21.2651 5.60674C21.3243 5.55669 21.3834 5.50657 21.4425 5.45639C21.5019 5.40591 21.5615 5.3556 21.6213 5.30546C21.7466 5.19914 21.8458 5.10678 21.9375 4.96921C15.4097 4.96921 8.88188 4.96921 2.15626 4.96921ZM1.35938 6.14109C1.35938 10.0702 1.35938 13.9992 1.35938 18.0473C1.61061 17.8589 1.82901 17.6843 2.04493 17.463C2.07264 17.4351 2.10035 17.4071 2.12891 17.3783C2.21638 17.29 2.30353 17.2014 2.39063 17.1128C2.50571 16.996 2.62093 16.8793 2.73634 16.7629C2.76401 16.7349 2.79168 16.707 2.82019 16.6782C2.9841 16.5137 3.15208 16.3578 3.32923 16.2076C3.54192 16.0191 3.73803 15.8122 3.93751 15.6098C4.42997 15.1103 4.42997 15.1103 4.63917 14.9316C4.89614 14.7118 5.12988 14.4676 5.36719 14.227C5.63214 13.9585 5.89597 13.6929 6.18302 13.4476C6.40512 13.2491 6.61117 13.0328 6.82032 12.8208C6.91344 12.7264 7.00666 12.6321 7.10011 12.5381C7.12243 12.5156 7.14475 12.4931 7.16775 12.47C7.32609 12.3118 7.49004 12.1631 7.66215 12.0201C7.74602 11.9481 7.74602 11.9481 7.82813 11.813C7.58056 11.5892 7.33229 11.3665 7.08051 11.1476C6.97215 11.0522 6.86554 10.955 6.7588 10.8579C6.6005 10.7147 6.43912 10.5781 6.27247 10.4448C5.98791 10.2148 5.72388 9.96459 5.45765 9.71384C5.26088 9.5286 5.05862 9.35093 4.85262 9.17604C4.77115 9.10685 4.68975 9.03757 4.60841 8.96824C4.58022 8.94422 4.55204 8.92021 4.52301 8.89546C4.30196 8.70598 4.08825 8.5096 3.87565 8.31074C3.72313 8.16898 3.56708 8.03484 3.4043 7.90476C3.12204 7.67829 2.86152 7.43052 2.59827 7.18259C2.42359 7.01814 2.24486 6.85947 2.06251 6.70359C2.00695 6.65545 1.95141 6.60729 1.89588 6.55912C1.83522 6.50668 1.77455 6.45425 1.71387 6.40183C1.68441 6.37626 1.65495 6.3507 1.6246 6.32435C1.50657 6.19905 1.50657 6.19905 1.35938 6.14109ZM22.2861 6.51902C22.0778 6.71415 21.8687 6.90741 21.6526 7.09397C21.5432 7.1891 21.4357 7.28614 21.3281 7.38328C21.1584 7.53642 20.9874 7.68774 20.8149 7.83774C20.7065 7.9331 20.5999 8.03026 20.4932 8.12742C20.3349 8.27055 20.1735 8.40723 20.0068 8.5405C19.7225 8.77031 19.4587 9.02027 19.1928 9.27091C19.0462 9.40891 18.8968 9.54286 18.7441 9.67411C18.6381 9.76624 18.5345 9.86094 18.4307 9.95554C18.2724 10.0987 18.111 10.2354 17.9443 10.3686C17.6601 10.5983 17.3964 10.8482 17.1306 11.0987C16.9557 11.2634 16.7762 11.4221 16.5938 11.5786C16.5234 11.6401 16.4531 11.7016 16.3828 11.7632C16.3281 11.811 16.2734 11.8589 16.2188 11.9067C16.2798 12.0429 16.3421 12.1336 16.4528 12.2334C16.4815 12.2597 16.5102 12.286 16.5398 12.3131C16.5712 12.3414 16.6025 12.3697 16.6348 12.3989C16.9905 12.7257 17.3327 13.0642 17.6717 13.4083C17.8378 13.5761 18.0036 13.7409 18.1831 13.8945C18.4566 14.1293 18.7051 14.3904 18.958 14.6469C19.2666 14.9609 19.2666 14.9609 19.5923 15.2568C19.8746 15.4983 20.1303 15.7688 20.3911 16.0331C20.6331 16.2781 20.8756 16.5182 21.1376 16.742C21.3752 16.9546 21.5946 17.1881 21.8173 17.416C21.8836 17.4837 21.9501 17.551 22.0166 17.6183C22.0555 17.658 22.0943 17.6976 22.1343 17.7385C22.2927 17.8848 22.4681 18.0117 22.6406 18.1411C22.6406 14.212 22.6406 10.283 22.6406 6.23484C22.5233 6.23484 22.3737 6.43643 22.2861 6.51902ZM8.7345 12.8678C8.70417 12.8997 8.67384 12.9315 8.64259 12.9643C8.52333 13.0892 8.40052 13.2051 8.26942 13.3172C8.01579 13.5371 7.78239 13.7772 7.54688 14.0161C7.28962 14.277 7.03249 14.5343 6.75385 14.7727C6.54007 14.9636 6.34181 15.1714 6.14063 15.3755C5.64817 15.875 5.64817 15.875 5.43897 16.0537C5.182 16.2735 4.94826 16.5177 4.71094 16.7583C4.44552 17.0273 4.18122 17.2934 3.89365 17.5391C3.68007 17.7297 3.48215 17.9373 3.28126 18.1411C3.01365 18.4125 2.74705 18.6816 2.45454 18.9266C2.43345 18.9458 2.41236 18.965 2.39063 18.9848C2.39063 19.0003 2.39063 19.0158 2.39063 19.0317C8.70188 19.0317 15.0131 19.0317 21.5156 19.0317C21.2992 18.7724 21.2992 18.7724 21.063 18.5527C20.9014 18.4151 20.7496 18.2696 20.6001 18.1191C20.5774 18.0962 20.5546 18.0734 20.5312 18.0498C20.4372 17.9549 20.3434 17.8598 20.2496 17.7647C19.9313 17.4404 19.9313 17.4404 19.5952 17.1347C19.3032 16.8853 19.0392 16.6047 18.7696 16.3316C18.5211 16.0802 18.2728 15.8327 18.0037 15.6031C17.7568 15.3827 17.5288 15.1408 17.2964 14.9053C16.9778 14.5806 16.9778 14.5806 16.6414 14.2746C16.3804 14.0517 16.1433 13.8032 15.9024 13.5591C15.807 13.4625 15.7116 13.3661 15.616 13.2698C15.5533 13.2062 15.5533 13.2062 15.4893 13.1414C15.3927 13.0487 15.2968 12.9681 15.1875 12.8911C15.015 12.9643 14.8985 13.0709 14.7627 13.1987C14.5907 13.3587 14.4159 13.5117 14.2324 13.6587C14.0611 13.7961 13.9 13.9391 13.7419 14.0911C13.2645 14.5477 12.7482 14.848 12.0703 14.8774C11.3143 14.846 10.8062 14.491 10.2859 13.9868C10.1436 13.8502 9.99341 13.7226 9.84376 13.5942C9.81902 13.5729 9.79428 13.5516 9.7688 13.5297C9.51773 13.3136 9.51773 13.3136 9.26583 13.0985C9.21298 13.0534 9.1604 13.008 9.10809 12.9624C8.93116 12.7842 8.93116 12.7842 8.7345 12.8678Z" fill="%23C83293"/></g><defs><clipPath id="clip0_915_1888"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}

footer .footer ul h5 {
    margin: 0;
    font-size: 0 !important;
    height: 3.8rem;
    width: 3.8rem;
    background-size: 18px auto;
    background: #282828;
    background-repeat: no-repeat;
    background-position: center;
}


#lets-be-social + ul li {
    display: inline-block;
    margin-right: 9px;
}

#lets-be-social + ul li:hover h5 {
    background-color: var(--color-somero-pink);
}

#lets-be-social + ul #facebook {
    background-image: url('data:image/svg+xml,<svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.69685 -0.00610188C6.73515 -0.00624598 6.77344 -0.00639008 6.81289 -0.00653854C6.93622 -0.00687306 7.05954 -0.00687377 7.18286 -0.00678852C7.24558 -0.00680924 7.24558 -0.00680924 7.30956 -0.00683037C8.68222 -0.00628518 8.68222 -0.00628517 9.35156 0.105272C9.35156 1.0566 9.35156 2.00793 9.35156 2.98809C8.53857 3.00347 8.53857 3.00347 8.28518 3.00806C7.26198 2.98358 7.26198 2.98358 6.39404 3.44512C6.1582 3.73233 6.11479 4.13603 6.10997 4.49465C6.10962 4.51767 6.10926 4.5407 6.1089 4.56443C6.10781 4.63806 6.10693 4.71168 6.10606 4.78531C6.10508 4.85336 6.10508 4.85336 6.10408 4.92278C6.10168 5.0916 6.09956 5.26043 6.09741 5.42925C6.09234 5.80702 6.08726 6.1848 6.08203 6.57402C7.12617 6.57402 8.17031 6.57402 9.24609 6.57402C9.20571 7.13944 9.20571 7.13944 9.17467 7.37381C9.17119 7.40105 9.1677 7.42829 9.1641 7.45636C9.15306 7.5423 9.14184 7.62821 9.1306 7.71413C9.12364 7.76808 9.1167 7.82203 9.10976 7.87598C9.08431 8.07336 9.05862 8.27071 9.03296 8.46807C8.97568 8.91038 8.91839 9.35269 8.85938 9.8084C7.94285 9.8084 7.02633 9.8084 6.08203 9.8084C6.08203 12.5116 6.08203 15.2147 6.08203 17.9998C4.97988 17.9998 3.87773 17.9998 2.74219 17.9998C2.74219 15.2966 2.74219 12.5935 2.74219 9.8084C1.83727 9.8084 0.932344 9.8084 0 9.8084C0 8.74106 0 7.67371 0 6.57402C0.904922 6.57402 1.80984 6.57402 2.74219 6.57402C2.73942 5.73795 2.73942 5.73795 2.73585 4.90187C2.73207 3.58744 2.80486 2.25973 3.72656 1.23027C3.75466 1.19887 3.78276 1.16746 3.81171 1.1351C4.56201 0.34151 5.62271 -0.00484492 6.69685 -0.00610188Z" fill="white"/></svg>');
}

#lets-be-social + ul #linkedin {
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_915_1859)"><path d="M16.4751 6.85641C17.5553 7.7253 17.8676 9.05018 17.9776 10.3287C17.9962 10.6286 17.993 10.9287 17.9922 11.229C17.9922 11.303 17.9922 11.3771 17.9923 11.4511C17.9923 11.6507 17.992 11.8502 17.9917 12.0497C17.9914 12.2588 17.9914 12.4679 17.9913 12.6769C17.9912 13.0722 17.9908 13.4674 17.9904 13.8627C17.9898 14.3972 17.9895 14.9318 17.9892 15.4664C17.9888 16.3077 17.9879 17.149 17.9871 17.9902C16.7026 17.9902 15.4181 17.9902 14.0946 17.9902C14.093 17.509 14.0913 17.0277 14.0895 16.5319C14.0881 16.226 14.0867 15.9202 14.0852 15.6144C14.0827 15.1295 14.0804 14.6446 14.079 14.1597C14.0779 13.8065 14.0764 13.4533 14.0743 13.1C14.0733 12.9133 14.0724 12.7265 14.0721 12.5398C14.0718 12.3634 14.0709 12.187 14.0696 12.0106C14.0692 11.9465 14.069 11.8823 14.0691 11.8182C14.0697 11.0415 13.9928 10.2158 13.3903 9.63383C12.9928 9.30658 12.504 9.22495 11.9863 9.25253C11.6244 9.28004 11.2875 9.32035 10.9716 9.50034C10.9259 9.5241 10.8802 9.54786 10.833 9.57233C10.2561 10.0005 10.0269 10.5941 9.94039 11.2664C9.91829 11.518 9.92241 11.7709 9.92134 12.0233C9.9209 12.0885 9.92045 12.1537 9.91998 12.2189C9.91876 12.3951 9.91781 12.5712 9.9169 12.7474C9.91591 12.9318 9.91467 13.1163 9.91346 13.3007C9.91121 13.6495 9.90917 13.9984 9.90721 14.3473C9.90456 14.819 9.90156 15.2906 9.89858 15.7623C9.8939 16.505 9.88967 17.2476 9.88537 17.9902C8.60086 17.9902 7.31635 17.9902 5.99292 17.9902C5.99292 14.1327 5.99292 10.2751 5.99292 6.30063C7.21768 6.30063 8.44245 6.30063 9.70433 6.30063C9.71926 6.79339 9.7342 7.28614 9.74959 7.79383C9.85414 7.65304 9.95869 7.51225 10.0664 7.3672C10.7395 6.55509 11.7752 6.14084 12.8417 6.01532C14.107 5.91414 15.4542 6.10427 16.4751 6.85641Z" fill="white"/><path d="M-0.00708008 5.99023C1.31292 5.99023 2.63292 5.99023 3.99292 5.99023C3.99292 9.95023 3.99292 13.9102 3.99292 17.9902C2.67292 17.9902 1.35292 17.9902 -0.00708008 17.9902C-0.00708008 14.0302 -0.00708008 10.0702 -0.00708008 5.99023Z" fill="white"/><path d="M3.08841 0.296392C3.54645 0.608813 3.82731 1.03696 3.9594 1.5709C4.05703 2.14697 3.94073 2.68357 3.61911 3.16852C3.31777 3.58059 2.88365 3.87435 2.37747 3.96772C1.94898 4.0091 1.52397 4.01263 1.13583 3.80788C1.08433 3.78177 1.08433 3.78177 1.03179 3.75512C0.554257 3.49212 0.227704 3.08249 0.0569099 2.56413C-0.0766432 1.98868 -0.00134604 1.43541 0.284711 0.920768C0.567959 0.479925 0.977255 0.192393 1.47769 0.0394612C2.04125 -0.0733701 2.59077 0.00591701 3.08841 0.296392Z" fill="white"/></g><defs><clipPath id="clip0_915_1859"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>');
}

#lets-be-social + ul #instagram {
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_915_1865)"><path d="M4.14738 0.00975693C4.21186 0.00956983 4.21186 0.00956983 4.27765 0.00937894C4.42114 0.00901599 4.56464 0.00895107 4.70814 0.00888827C4.81126 0.00869384 4.91439 0.00848287 5.01751 0.00825663C5.29736 0.0077067 5.5772 0.00743369 5.85705 0.00724859C6.03211 0.00713228 6.20717 0.00695432 6.38224 0.00676561C6.86783 0.00625391 7.35343 0.00582151 7.83902 0.0056793C7.88558 0.00566547 7.88558 0.00566547 7.93307 0.00565136C7.96418 0.0056422 7.99529 0.00563304 8.02734 0.0056236C8.09037 0.00560498 8.15339 0.00558623 8.21642 0.00556735C8.24768 0.00555806 8.27894 0.00554876 8.31115 0.00553918C8.81697 0.00537367 9.32278 0.00464152 9.8286 0.00366303C10.3491 0.00266434 10.8696 0.00214411 11.3901 0.0020953C11.6818 0.00205698 11.9736 0.00181978 12.2653 0.0010533C12.5401 0.000334012 12.8148 0.000272487 13.0896 0.000639309C13.1899 0.00067148 13.2903 0.00049163 13.3907 7.42924e-05C14.7236 -0.0051391 15.8703 0.262722 16.8561 1.21741C17.6368 2.00662 17.9912 3.04898 17.9902 4.14738C17.9904 4.21186 17.9904 4.21186 17.9906 4.27764C17.991 4.42114 17.991 4.56464 17.9911 4.70814C17.9913 4.81126 17.9915 4.91438 17.9917 5.01751C17.9923 5.29736 17.9926 5.5772 17.9928 5.85705C17.9929 6.03211 17.993 6.20717 17.9932 6.38224C17.9937 6.86783 17.9942 7.35343 17.9943 7.83902C17.9943 7.87006 17.9943 7.9011 17.9943 7.93307C17.9944 7.96418 17.9944 7.99529 17.9944 8.02734C17.9944 8.09037 17.9944 8.15339 17.9944 8.21642C17.9944 8.24768 17.9945 8.27894 17.9945 8.31115C17.9946 8.81697 17.9954 9.32278 17.9963 9.82859C17.9973 10.3491 17.9979 10.8696 17.9979 11.3901C17.9979 11.6818 17.9982 11.9736 17.9989 12.2653C17.9997 12.5401 17.9997 12.8148 17.9994 13.0896C17.9993 13.1899 17.9995 13.2903 17.9999 13.3907C18.0051 14.7236 17.7373 15.8703 16.7826 16.8561C15.9934 17.6368 14.951 17.9912 13.8526 17.9902C13.7881 17.9904 13.7881 17.9904 13.7224 17.9906C13.5789 17.991 13.4354 17.991 13.2919 17.9911C13.1887 17.9913 13.0856 17.9915 12.9825 17.9917C12.7026 17.9923 12.4228 17.9926 12.1429 17.9928C11.9679 17.9929 11.7928 17.993 11.6178 17.9932C11.1322 17.9937 10.6466 17.9942 10.161 17.9943C10.1144 17.9943 10.1144 17.9943 10.0669 17.9943C10.0358 17.9944 10.0047 17.9944 9.97266 17.9944C9.90964 17.9944 9.84661 17.9944 9.78358 17.9944C9.75232 17.9944 9.72106 17.9945 9.68885 17.9945C9.18303 17.9946 8.67722 17.9954 8.17141 17.9963C7.65092 17.9973 7.13042 17.9979 6.60993 17.9979C6.31817 17.9979 6.02642 17.9982 5.73466 17.9989C5.45992 17.9997 5.18518 17.9997 4.91043 17.9994C4.81006 17.9993 4.70969 17.9995 4.60932 17.9999C3.27642 18.0051 2.12969 17.7373 1.14395 16.7826C0.363221 15.9934 0.00875173 14.951 0.0097582 13.8526C0.00963347 13.8096 0.00950876 13.7666 0.00938025 13.7224C0.00901729 13.5789 0.00895234 13.4354 0.00888954 13.2919C0.00869511 13.1887 0.00848414 13.0856 0.0082579 12.9825C0.00770797 12.7026 0.007435 12.4228 0.0072499 12.1429C0.00713359 11.9679 0.00695559 11.7928 0.00676688 11.6178C0.00625518 11.1322 0.00582294 10.6466 0.00568073 10.161C0.00567151 10.1299 0.00566204 10.0989 0.00565254 10.0669C0.00564338 10.0358 0.00563444 10.0047 0.005625 9.97266C0.00560638 9.90964 0.0055875 9.84661 0.00556862 9.78358C0.00555933 9.75232 0.00555002 9.72106 0.00554044 9.68885C0.00537492 9.18303 0.00464291 8.67722 0.00366442 8.17141C0.00266573 7.65091 0.00214534 7.13042 0.00209653 6.60993C0.00205821 6.31817 0.00182105 6.02642 0.00105458 5.73466C0.000335285 5.45992 0.0002736 5.18518 0.000640422 4.91043C0.000672592 4.81006 0.000492742 4.70969 7.54053e-05 4.60932C-0.00511206 3.28305 0.256003 2.15197 1.20167 1.16231C2.01324 0.377832 3.03225 0.00873513 4.14738 0.00975693ZM13.954 2.28273C13.7571 2.57408 13.6585 2.8829 13.7223 3.23325C13.8385 3.66237 14.0901 3.9381 14.463 4.16934C14.7951 4.28885 15.1674 4.25468 15.4837 4.11161C15.8095 3.92656 16.0184 3.66241 16.1187 3.30065C16.1829 2.97104 16.1311 2.70354 15.9692 2.40868C15.7525 2.1039 15.5031 1.89563 15.1295 1.82092C14.6643 1.76914 14.2607 1.92629 13.954 2.28273ZM7.19474 3.50024C7.1522 3.51431 7.10966 3.52838 7.06583 3.54288C6.42145 3.77221 5.82437 4.10506 5.3055 4.54981C5.28427 4.56782 5.26303 4.58583 5.24116 4.60438C4.14545 5.54078 3.45918 6.8219 3.24834 8.24431C3.24282 8.28111 3.2373 8.31791 3.23161 8.35582C3.05799 9.76354 3.46298 11.2664 4.30874 12.4019C4.40061 12.5159 4.49506 12.6266 4.59179 12.7365C4.62248 12.7723 4.65316 12.808 4.68478 12.8449C5.70884 14.0165 7.12533 14.6702 8.66414 14.7936C10.1494 14.8802 11.6146 14.381 12.7365 13.4082C12.7713 13.3785 12.8061 13.3488 12.8419 13.3182C14.0148 12.2926 14.6701 10.8768 14.7936 9.33586C14.8802 7.85061 14.381 6.38536 13.4082 5.26352C13.3785 5.22872 13.3488 5.19392 13.3182 5.15807C12.3241 4.02119 10.904 3.32848 9.39917 3.21177C9.34705 3.20909 9.34705 3.20909 9.29388 3.20636C9.25308 3.20414 9.21227 3.20192 9.17023 3.19963C8.50554 3.18156 7.82316 3.28397 7.19474 3.50024Z" fill="white"/><path d="M8.86913 6.00166C9.37449 5.98588 9.87324 6.08207 10.3249 6.3108C10.3622 6.32945 10.3994 6.34811 10.4378 6.36733C11.1433 6.74898 11.6234 7.38079 11.8799 8.13366C12.1046 8.91374 12.0096 9.75506 11.6317 10.4715C11.2094 11.179 10.5497 11.6851 9.75922 11.9129C8.90475 12.1171 8.07933 11.9549 7.33362 11.5034C6.68643 11.0592 6.23086 10.3992 6.06409 9.63051C6.05493 9.58121 6.05493 9.58121 6.04559 9.53091C6.04066 9.50469 6.03573 9.47847 6.03065 9.45145C6.01915 9.3767 6.01238 9.30333 6.00772 9.22784C6.00472 9.17986 6.00472 9.17986 6.00166 9.13092C5.98589 8.62537 6.08204 8.12644 6.31068 7.67461C6.32933 7.63735 6.34798 7.60009 6.36719 7.5617C6.74667 6.85968 7.38442 6.35989 8.14131 6.11901C8.25028 6.09042 8.35854 6.06619 8.46927 6.04561C8.5086 6.03821 8.5086 6.03821 8.54871 6.03066C8.65529 6.01425 8.76157 6.0084 8.86913 6.00166Z" fill="white"/></g><defs><clipPath id="clip0_915_1865"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>');
}

#lets-be-social + ul #youtube {
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.95877 3.00003C8.99922 3.00003 9.03968 3.00003 9.08137 3.00004C13.566 3.00063 13.566 3.00063 15.4981 3.25345C15.5379 3.25863 15.5777 3.2638 15.6186 3.26914C16.288 3.367 16.8683 3.63468 17.2872 4.15239C17.8788 4.9594 17.8962 6.1106 17.9557 7.06151C17.9572 7.08442 17.9588 7.10733 17.9604 7.13093C18.0013 7.73123 18.0004 8.33203 17.9999 8.93331C17.9999 8.95977 17.9999 8.98624 17.9998 9.01351C17.9995 9.79927 17.9971 10.5823 17.9184 11.3653C17.9159 11.3909 17.9134 11.4164 17.9108 11.4427C17.6973 13.588 17.6973 13.588 16.9503 14.2108C15.9344 14.9717 14.3744 14.8738 13.143 14.9266C13.1116 14.928 13.0802 14.9294 13.0479 14.9308C11.7444 14.9865 10.4402 15.0006 9.13563 15C9.07983 15 9.07983 15 9.0229 15C2.00286 14.999 2.00286 14.999 0.977546 14.035C-0.347008 12.6585 0.0323108 9.47129 0.108454 7.72614C0.251629 4.60538 0.251629 4.60538 1.1086 3.82713C1.45483 3.54854 1.84625 3.36299 2.29139 3.28902C2.32608 3.2832 2.36078 3.27739 2.39653 3.27139C3.22815 3.14159 4.07821 3.11044 4.91878 3.07339C4.96504 3.07133 4.96504 3.07133 5.01224 3.06922C5.25564 3.05863 5.49908 3.05007 5.7426 3.04226C5.79054 3.04072 5.83848 3.03917 5.88788 3.03758C6.91147 3.00535 7.93469 2.99955 8.95877 3.00003ZM7.26923 6.49242C7.26923 8.14742 7.26923 9.80243 7.26923 11.5076C7.41254 11.4528 7.5373 11.3965 7.67125 11.3253C7.71275 11.3033 7.75425 11.2813 7.797 11.2586C7.84139 11.2349 7.88577 11.2112 7.93015 11.1875C7.95279 11.1754 7.97543 11.1634 7.99876 11.1509C8.31086 10.9847 8.62072 10.8153 8.92793 10.6409C9.60681 10.256 10.295 9.88582 10.9807 9.51208C11.174 9.40667 11.3673 9.30115 11.5606 9.19563C11.6244 9.1608 11.6882 9.12597 11.752 9.09115C11.7781 9.07689 11.8042 9.06263 11.8311 9.04794C11.8585 9.03301 11.8585 9.03301 11.8864 9.01779C11.7773 8.93642 11.6652 8.86841 11.5451 8.80271C11.5069 8.78173 11.4687 8.76075 11.4294 8.73914C11.3882 8.71665 11.347 8.69416 11.3046 8.67099C11.2611 8.64717 11.2177 8.62335 11.1742 8.59951C11.084 8.55001 10.9938 8.50055 10.9035 8.45112C10.6972 8.33808 10.4912 8.2244 10.2853 8.11079C10.2045 8.06628 10.1237 8.02177 10.0429 7.97727C9.88253 7.88886 9.72215 7.8004 9.5618 7.71189C9.09235 7.45285 8.62227 7.19491 8.15125 6.93849C8.09033 6.9053 8.09033 6.9053 8.02818 6.87144C7.98893 6.85008 7.94968 6.82871 7.90924 6.8067C7.74901 6.71857 7.59017 6.62823 7.43153 6.5375C7.34939 6.4868 7.34939 6.4868 7.26923 6.49242Z" fill="white"/></svg>');
}

footer .footer ul {
    margin: 0 0 2rem 0;
    padding: 0;
    list-style: none;
}

footer .footer a,
footer .footer li {
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.4rem;
}

footer .footer a:hover {
    color: var(--color-somero-pink);
}

footer .footer img {
    max-width: 100%;
    height: auto;
}

footer .footer .button-container {
    margin-top: 1rem;
}

footer .footer .button-container a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0;
    background: var(--color-somero-pink);
    border: 0;
    color: var(--background-color);
    font-family: var(--type-somero-font-family);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1.4rem 3rem;
    text-decoration: none;
}

footer .footer .button-container a:hover {
    background: #a62878;
    color: var(--background-color);
}

footer .footer .footer-badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-medium);
    margin-top: var(--spacing-xbig);
    padding: var(--spacing-medium) 0;
    background: #282828;
    border-top: 1px solid #282828;
}

footer .footer .footer-copyright {
    font-size: 1.4rem;
    line-height: normal;
    text-align: center;
    color: var(--background-color);
}

.storeview-switcher-button {
    background: transparent;
    padding-left: 0;
}

.storeview-modal-storeview-title {
    margin-bottom: var(--spacing-xxbig);
    padding-inline-start: var(--spacing-xbig);
}

.modal .close-button {
    top: 40px !important;
    right: 40px !important;
}

.storeview-single-store {
    list-style-type: none;
}

.storeview-selection .storeview-multiple-stores {
    list-style-image: url("../../icons/chevron-right.svg");
    list-style-position: inside;
}

.storeview-selection > li {
    margin-bottom: var(--spacing-small);
}

.storeview-multiple-stores > ul {
    position: relative;
    width: 100%;
}

.storeview-multiple-stores > ul > li {
    list-style: none;
    display: none;
}

.storeview-multiple-stores[aria-expanded="true"] {
    list-style-image: url("../../icons/chevron-down.svg");
}

.storeview-multiple-stores[aria-expanded="true"] > ul {
    padding-left: 0;
}

.storeview-multiple-stores[aria-expanded="true"] > ul > li {
    display: block;
    list-style-type: none;
    margin-bottom: var(--spacing-small);
}

#subscribe {
    font-size: 0;
    line-height: 0;
}
 
#subscribe input {
    display: block;
    padding: 11px 17px 12px 14px;
    margin-bottom: 15px;
    color: #656565;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

#subscribe button {
    display: flex;
    padding: 14px 30px;
    color: #FFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: var(--color-somero-pink);
    color: #fff;
    border: 0;
    cursor: pointer;
}

@media (min-width: 900px) {
    footer .footer > div {
        padding: 8rem var(--spacing-big) 0;
    }

    footer .footer > div > div.columns-container {
        grid-template-columns: 20.3rem 1fr;
    }
    footer .footer > div > div:not(.columns-container) > div {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-xbig);
        justify-content: space-between;
        max-width: 1464px;
        margin: 0 auto;
        padding: 0 var(--spacing-big);
        width: 100%;
        align-items: center;
    }

    footer .footer .columns > div > div {
        flex: unset;
    }

    footer .footer .columns > div > div:first-child {
        width: 18%;
    }

    footer .footer .columns > div > div:nth-child(3) {
        width: 11.5%;
    }
}

@media (min-width: 1200px) {
    footer .footer .columns > div {
        gap: 8%;
    }

    footer .footer > div > div.columns-container {
        gap: 8%;
    }
}