@font-face {
    font-family: "Trade Gothic";
    src: url('../fonts/trade-gothic/Trade-Gothic-Light.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Trade Gothic";
    src: url('../fonts/trade-gothic/Trade-Gothic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Trade Gothic";
    src: url('../fonts/trade-gothic/Trade-Gothic-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}