.product-recommendations .scrollable {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.product-recommendations .product-grid {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 0;
}

.product-recommendations-container > .default-content-wrapper {
    padding-bottom: 2.5rem;
}

.recommendations-product-list__heading {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.recommendations-product-list__subheading {
    margin-block: 0;
}

.product-recommendations .product-grid-item img {
    width: 100%;
}

.dropin-product-item-card__title a {
    color: var(--color-somero-black);
    font-size: 1.8rem;
    font-weight: 700;
}

.product-recommendations .product-grid .product-grid-item a {
    text-decoration: none;
}

.product-recommendations .product-grid .product-grid-item a span {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: .5rem 1rem 0 0;
    display: inline-block;
}

.product-recommendations .product-grid picture {
    background: none;
    display: block;
    width: 300px;
    aspect-ratio: 1 / 1.25;
}

.product-recommendations .product-grid img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    object-fit: contain;
    background: none;
}

.product-recommendations .product-grid .placeholder {
    background-color: var(--color-neutral-500);
    scroll-snap-align: start;
}

.product-recommendations .product-grid .placeholder img {
    display: none;
}

.product-recommendations .product-grid-item {
    margin: 0;
    scroll-snap-align: start;
}

.footer__wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.recommendations-carousel__content {
    width: 100%;
    gap: 13px;
}

.recommendations-carousel__content > * {
    width: 25%;
    border: 1px solid var(--color-neutral-200);
    background: var(--color-neutral-0);
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: #fff;
}

.recommendations-carousel__content .footer__button--add-to-cart-text {
    color: var(--color-somero-pink);
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
}

.dropin-product-item-card__content {
    padding: 0;
}

.recommendations-product-list .dropin-product-item-card {
    margin: 0;
    width: 100%;
}

.dropin-product-item-card__title {
    padding-top: 2rem;
    padding-bottom: 1.2rem;
}

.dropin-product-item-card__sku .dropin-product-item-card__sku {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-somero-black);
    padding-bottom: 1.2rem;
}

.dropin-product-item-card__sku-label {
    font-weight: 700;
}

.dropin-product-item-card__price {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.dropin-product-item-card__price .dropin-price--default {
    color: var(--color-somero-black);
}

.product-recommendations .scroll-carousel-nav {
    position: relative;
}

.product-recommendations-container .scroll-carousel-nav button {
    position: absolute;
    top: -10rem;
    background: var(--color-somero-pink);
    color: #fff;
    cursor: pointer;
    z-index: 1;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    border: 0;
}

.product-recommendations-container .scroll-carousel-nav .scroll-carousel-prev {
    right: 4.5rem;
}

.product-recommendations-container .scroll-carousel-nav .scroll-carousel-next {
    right: 0;
}

.product-recommendations-container .scroll-carousel-nav button[disabled] {
    background-color: #fff;
    color: var(--color-somero-black);
    border: 1px solid #e0e0e0;
}